<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magicodes.Logger" version="1.0.6121.36843" targetFramework="net45" />
  <package id="Magicodes.Storage" version="1.0.6121.37084" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>