<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magicodes.Logger" version="1.0.6121.36843" targetFramework="net45" />
  <package id="Magicodes.Logger.DebugLogger" version="1.0.6114.26723" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>